<!DOCTYPE html>
<html>
  <%- include('template/cabecera'); %>
  <body>
    <%- include('template/navbar'); %>
    <div class="cuerpo">
      <div class="titulo">
        <h1>Ultimos Agregados</h1>
        <hr />
      </div>
      <div class="container">
        
          <% params.forEach(function(post) { %>
              <a href="/post/<%= post.url%>">
                <div class="card">
                  <img src="<%= post.type%>.jpg" alt="" />
                  <p><%= post.title%></p>
                  <p><%= post.type%></p>
                </div>
              </a>
              </li>
          <% }); %>
        
      </div>
    </div>

    <%- include('template/sidebarScript'); %>
  </body>
</html>
