<!DOCTYPE html>
<html>
    <%- include('template/cabecera'); %>
<body>
    <%- include('template/navbar'); %>
    <section class="manga" style="width: min(1024px,95vw); margin: auto;">
        
        <section class="cuerpo">
            <h2 style="margin-top: 1vh;"><%= params.info.title %></h2>
            <hr>

            <ul style="margin: 0; text-decoration: none; padding: 0;">
                <% params.filenames.forEach(function(photo) { %>
                    <li>
                    <img class="mangaImg" id="img" src="/<%= params.info.url%>/<%= photo%>">
                    </li>
                <% }); %>
            </ul>

            <p>proximamente habran comentarios</p>
        </section>
        
    </section>
    <%- include('template/sidebarScript'); %>
</body>
</html>