<!DOCTYPE html>
<html>
  <%- include('template/cabecera'); %>
  <body>
    <%- include('template/navbar', {nombre: user}); %>
    <div class="cuerpo">
      <div class="postscontainer">
        <div class="post">
          <div class="usuario" >
            <img src="/icons/<%= usuVista %>.jpg" alt="icono" class="icon" style="height: 5em; width: 5em;">
            <p class="nombre" style="font-size: 3em;"><%= usuVista %></p>
          </div>
        </div>
        <% params.forEach(function(post) { %>
        <a href="/post/<%= post.info.url %>"></a>
          <div class="post">
            <!-- User information -->
              <a href="/user/<%= post.info.username %>" class="usuario">
              <img src="/icons/<%= post.info.username %>.jpg" alt="icono" class="icon">
              <p class="nombre"><%= post.info.username %></p>
              </a>
            <!-- Post title -->
            <p class="post-title"><%= post.info.title %></p>
            <!-- Post gallery (derived images or videos based on type) -->
            <div class="gallery">
              <% if (post.filenames && post.filenames.length > 0) { %>
                <% post.filenames.forEach(function(file) { %>
                    <% 
                      // Check if the file is a video based on extension
                      var fileExtension = file.split('.').pop().toLowerCase();
                      var videoExtensions = ['mp4', 'webm', 'ogg'];
                      var isVideo = videoExtensions.includes(fileExtension);
                    %>
                    <div class="gallery-item">
                    <% if (isVideo) { %>
                      <!-- Video File -->
                      <video controls>
                        <source src="/posts/<%= post.info.url %>/<%= file %>" type="video/<%= fileExtension %>">
                        Your browser does not support the video tag.
                      </video>
                    <% } else { %>
                      <!-- Image File -->
                      <img src="/posts/<%= post.info.url %>/<%= file %>">
                    <% } %>
                  </div>
                <% }); %>
              <% } else { %>
                <p>No media available</p>
              <% } %>
            </div>
          </div>
        </a>
        <% }); %>
      </div>
    </div>
    <div class="modal" id="modal">
      <span class="close" id="close">&times;</span>
      <span class="prev" id="prev">&#10094;</span>
      <span class="next" id="next">&#10095;</span>
      <img class="modal-content" id="modal-img">
    </div>

    <script src="/script.js"></script>
    <%- include('template/sidebarScript'); %>
  </body>
</html>
