<!DOCTYPE html>
<html>
    <%- include('template/cabecera'); %>
<body>
    <%- include('template/navbar'); %>
    <section style="width: min(1024px,100%); margin: auto;">
        
        <section class="cuerpo text-justify text-white">
            <h2 style="margin-top: 1vh;"><%= params.info.title %></h2>
            <hr style="background-color: rgb(151, 71, 255); height: 1px;">

            <ul style="margin: 0; text-decoration: none;">
                <% params.filenames.forEach(function(photo) { %>
                    <li>
                        <video width="600" controls>
                            <source src="/<%= params.info.url%>/<%= photo%>" type="video/mp4">
                            Tu navegador no soporta la etiqueta de video.
                        </video>
                    </li>
                <% }); %>
            </ul>

            <p>proximamente habran comentarios</p>
        </section>
        
    </section>

</body>
</html>